* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px 0;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

main {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

input {
    border-radius: 12px;
    border: solid 1px #e2e8f0;
    background-color: #e2e8f0;
    height: 24px;
    width: 60%;
}

.left-sidebar {
    background-color: #1992d4;
}

.header {
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
}

.main-side {
    grid-column: 2 / 6;
}

.dashboard-header {
    font-size: 36px;
    font-weight: 700;
    color: white;
    padding: 3vh 0;
}


.left-sidebar {
    padding-left: 20px;
}
.sidebar-links,
.setting-links {
    font-size: 20px;
    font-weight: 600;
}

.header-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-self: center;
    padding: 10px 0;
}
.search-flex {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.search-icon {
    padding-right: 20px;

}

.notification,
.search-icon {
    font-size: 14px;
}

.search-user {
    display: flex;
    align-items: center;
    gap: 40px
}

.user-name-small {
    font-size: 20px;
}

.user-img-small {
    width: 40px;
    border-radius: 50%;
}

.user-greeting {
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-img-big {
    width: 80px;
    border-radius: 50%;
}

.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.greeting-text-container {
    padding-left: 20px;
}

.greeting-text {
    padding: 4px 0;
    font-size: 18px;
}

.user-name-big {
    padding: 4px 0;
    font-size: 24px;
    font-weight: 600;
}

.action-buttons {
    width: 40%;
    padding-right: 60px;
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    background-color: #1992d4;
    border: solid 1px #1992d4;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    flex-grow: 1;
}

.todo-card {
    width: 360px;
    height: 200px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
}

.announcement,
.trending {
    width: 240px;
    height: 360px;
    background-color: #fff;
    margin: 20px 0 20px 0;
}

.main {
    background-color: #e2e8f0;
}
.project-head {
    padding: 20px;
}