* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px 0;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

main {
    background-color: bisque;
}

.left-sidebar {
    background-color: #2596be;
}

.header {
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
}

.main-side {
    grid-column: 2 / 6;
}

.dashboard-header {
    font-size: 36px;
    font-weight: 700;
    color: white;
    padding: 3vh 0;
}


.left-sidebar {
    padding-left: 20px;
}
.sidebar-links,
.setting-links {
    font-size: 20px;
    font-weight: 600;
}